
html {
    height: 4000px;
    width: 1920px;
    left: -961px;
    top: -2000px;
    border-radius: 0px;

}

.logo {
    height: 33px;
    width: 216px;
    left: 230px;
    top: 46px;
    border-radius: 0px;
    text-align: left;



}

.phone {
    height: 29px;
    width: 163px;
    left: 1270px;
    top: 50px;
    border-radius: nullpx;
    color: white;

}

.call-back {
    height: 30px;
    width: 144px;
    left: 1521px;
    top: 47px;
    border-radius: nullpx;
    color: rgba(228, 181, 100, 1);
    text-decoration: none;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid rgba(228, 181, 100, 1);
    padding: 10px 25px 10px 49px;
    text-align: right;

}

.header {

    display: flex;
    justify-content: space-between;
    margin: 46px 230px 120px 230px;


}

.title {
    color: white;
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 230px;
    margin-bottom: 41px;

}

.text {
    color: white;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: 41px 508px 41px 230px;

}

.nav {
    color: white;
    width: 1401px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 468px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 25px;


}

.nav-item1 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 79, 44, 1);

}

.nav-item2 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgba(180, 163, 133, 1);
    justify-content: center;
    align-items: center;

}

.nav-item3 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    background-color: rgba(228, 181, 100, 1);
    justify-content: center;
    align-items: center;

}

.nav-item4 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(99, 90, 74, 1);
    justify-content: center;
    align-items: center;

}

.nav-item5 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    background-color: rgba(176, 140, 77, 1);
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
}

.title-two {
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 230px;
    margin-top: 161px;
    margin-bottom: 94px;
}

.nav-two {
    color: white;
    width: 1401px;
    margin: 0 auto;
    display: grid;
    height: 873px;
    grid-auto-columns: 460px;
    grid-template-rows: 4fr 1fr 1fr 2fr 4fr;
    grid-gap: 25px;
}

.nav-two-item1 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(14, 14, 14, 1);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 44px 113px 219px 52px;
}

.nav-two-item2 {


    font-family: Gilam;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(36, 36, 36, 1);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 44px 114px 345px 51px;


}

.nav-two-item3 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(31, 31, 31, 1);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 44px 117px 186px 48px;

}

.nav-two-item4 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(31, 31, 31, 1);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    padding: 56px 113px 479px 52px;

}

.nav-two-item5 {
    background-color: rgba(228, 181, 100, 1);
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    padding: 47px 113px 333px 52px;
}

.nav-two-item6 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(14, 14, 14, 1);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 44px 117px 244px 48px;

}

.nav-two-item7 {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(10, 9, 9, 1);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 44px 117px 208px 48px;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 363px 230px 72px 230px;

}

.title-three {
    color: white;
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.all-projects {
    color: rgba(228, 181, 100, 1);
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border: 1px solid rgba(228, 181, 100, 1);
    padding: 10px 39px 10px 40px;
    text-align: right;

}

.nav-three {
    color: white;
    display: grid;
    width: 1401px;
    margin: 0 auto;
    height: 782px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.nav-three-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(99, 79, 44, 1);


}

.nav-three-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(232, 210, 171, 0.76);
    font-family: Gilam;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;



}

.nav-three-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(228, 181, 100, 1);

}

.nav-three-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(99, 90, 74, 1);

}

.nav-three-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(176, 140, 77, 1);

}

.nav-three-item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(99, 79, 44, 1);

}

.img1 {
    display: inline-block;
    padding: 171px 151px 171px 151px;
}

.img2 {
    display: inline-block;
    padding: 165px 207px 3px 207px;
}

.img3 {
    display: inline-block;
}

.img4 {
    display: inline-block;
    padding: 171px 151px 171px 151px;
}

.img5 {
    display: inline-block;
    padding: 171px 151px 171px 151px;
}

.img6 {
    display: inline-block;
    padding: 171px 207px 171px 207px;
}

.img7 {
    display: inline-block;
    padding: 171px 151px 171px 151px;
}